/* CSS code in style.css */

/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
    
    
  }
  body{
    color: darkslategrey;
  }
  
  /* Chat container styles */
  .chat-container {
    
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Chat header styles */
  .chat-header {
    
    padding: 10px;
    background-color: #28292a;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Chat messages styles */
  .chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  /* Chat bubble styles */
  .chat-bubble {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 16px;
    word-wrap: break-word;
    color: darkslategray;
  }
  
  .user {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .bot-message {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-right: auto;
  }
  
  /* User bubble styles */
  .user .chat-bubble {
    background-color: #dcf8c6;
  }
  
  /* Bot bubble styles */
  .bot-message .chat-bubble {
    background-color: #dcf8c6;
  }
  
  /* Chat input styles */
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  #user-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  #send-btn {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #2c6da6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #send-btn:hover {
    background-color: #1e4c80;
  }
  
